Servicios/ServiciosHoteles/Service References/ServicioComprobante/Comprobantes1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:49486/Comprobantes.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ServiciosHoteles.Dominio" />
  <xs:element name="CrearComprobante">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ServiciosHoteles.Dominio" minOccurs="0" name="comprobanteNuevo" nillable="true" type="q1:Comprobante" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CrearComprobanteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ServiciosHoteles.Dominio" minOccurs="0" name="CrearComprobanteResult" nillable="true" type="q2:Comprobante" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerComprobante">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idComprobante" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerComprobanteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ServiciosHoteles.Dominio" minOccurs="0" name="ObtenerComprobanteResult" nillable="true" type="q3:Comprobante" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>