HotelSite/App_WebReferences/ServicioTiposDocumento/TiposDocumento2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ServiciosHoteles.Dominio" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ServiciosHoteles.Dominio" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfTipoDocumento">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TipoDocumento" nillable="true" type="tns:TipoDocumento" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTipoDocumento" nillable="true" type="tns:ArrayOfTipoDocumento" />
  <xs:complexType name="TipoDocumento">
    <xs:sequence>
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdTipoDocumento" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TipoDocumento" nillable="true" type="tns:TipoDocumento" />
</xs:schema>