Servicios/ServiciosHoteles/Service References/WSReservas/Reservas.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:49486/Reservas.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ServiciosHoteles.Dominio" />
  <xs:element name="RegistrarReserva">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ServiciosHoteles.Dominio" minOccurs="0" name="reservaACrear" nillable="true" type="q1:Reserva" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegistrarReservaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ServiciosHoteles.Dominio" minOccurs="0" name="RegistrarReservaResult" nillable="true" type="q2:Reserva" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModificarReserva">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ServiciosHoteles.Dominio" minOccurs="0" name="reservaAModificar" nillable="true" type="q3:Reserva" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModificarReservaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/ServiciosHoteles.Dominio" minOccurs="0" name="ModificarReservaResult" nillable="true" type="q4:Reserva" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerReserva">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigo" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerReservaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/ServiciosHoteles.Dominio" minOccurs="0" name="ObtenerReservaResult" nillable="true" type="q5:Reserva" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListaReserva">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListaReservaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/ServiciosHoteles.Dominio" minOccurs="0" name="ListaReservaResult" nillable="true" type="q6:ArrayOfReserva" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarClientes">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/ServiciosHoteles.Dominio" minOccurs="0" name="cliente" nillable="true" type="q7:Cliente" />
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/ServiciosHoteles.Dominio" minOccurs="0" name="habitacion" nillable="true" type="q8:Habitacion" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarClientesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/ServiciosHoteles.Dominio" minOccurs="0" name="BuscarClientesResult" nillable="true" type="q9:ArrayOfReserva" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>