Servicios/ServiciosHoteles/Service References/ServicioConfig/ParametrosConf.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:49486/ParametrosConf.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ServiciosHoteles.Dominio" />
  <xs:element name="ModificarParametro">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ServiciosHoteles.Dominio" minOccurs="0" name="parametroAModificar" nillable="true" type="q1:Parametro" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModificarParametroResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ServiciosHoteles.Dominio" minOccurs="0" name="ModificarParametroResult" nillable="true" type="q2:Parametro" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerParametro">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idParametro" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerParametroResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ServiciosHoteles.Dominio" minOccurs="0" name="ObtenerParametroResult" nillable="true" type="q3:Parametro" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarParametros">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarParametrosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/ServiciosHoteles.Dominio" minOccurs="0" name="ListarParametrosResult" nillable="true" type="q4:ArrayOfParametro" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>