HotelSite/App_WebReferences/ServicioAlojamiento/Alojamiento3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ServiciosHoteles.Dominio" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ServiciosHoteles.Dominio" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Reserva">
    <xs:sequence>
      <xs:element minOccurs="0" name="AnioExpiraTarjeta" type="xs:int" />
      <xs:element minOccurs="0" name="Cliente" nillable="true" type="tns:Cliente" />
      <xs:element minOccurs="0" name="CodFormaPago" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ComentarioCheckin" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Estado" type="xs:int" />
      <xs:element minOccurs="0" name="EstadoCuenta" type="xs:boolean" />
      <xs:element minOccurs="0" name="FechaHoraCheckin" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FechaHoraCheckout" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FechaLlegada" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FechaSalida" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Habitacion" nillable="true" type="tns:Habitacion" />
      <xs:element minOccurs="0" name="IdReserva" type="xs:int" />
      <xs:element minOccurs="0" name="MesExpiraTarjeta" type="xs:int" />
      <xs:element minOccurs="0" name="NumeroTarjeta" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Observaciones" type="xs:int" />
      <xs:element minOccurs="0" name="RequerimientosEsp" type="xs:int" />
      <xs:element minOccurs="0" name="TitularTarjeta" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="comentarioCheckout" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Reserva" nillable="true" type="tns:Reserva" />
  <xs:complexType name="Cliente">
    <xs:sequence>
      <xs:element minOccurs="0" name="ApellidoMaterno" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ApellidoPaterno" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdCliente" type="xs:int" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumeroDocumento" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Pais" nillable="true" type="tns:Pais" />
      <xs:element minOccurs="0" name="Telefono" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TipoDocumento" nillable="true" type="tns:TipoDocumento" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Cliente" nillable="true" type="tns:Cliente" />
  <xs:complexType name="Pais">
    <xs:sequence>
      <xs:element minOccurs="0" name="IdPais" type="xs:int" />
      <xs:element minOccurs="0" name="NombrePais" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Pais" nillable="true" type="tns:Pais" />
  <xs:complexType name="TipoDocumento">
    <xs:sequence>
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdTipoDocumento" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TipoDocumento" nillable="true" type="tns:TipoDocumento" />
  <xs:complexType name="Habitacion">
    <xs:sequence>
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdHabitacion" type="xs:int" />
      <xs:element minOccurs="0" name="Numero" type="xs:int" />
      <xs:element minOccurs="0" name="Piso" type="xs:int" />
      <xs:element minOccurs="0" name="TipoHabitacion" nillable="true" type="tns:Habitacion" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Habitacion" nillable="true" type="tns:Habitacion" />
  <xs:complexType name="ArrayOfReserva">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Reserva" nillable="true" type="tns:Reserva" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfReserva" nillable="true" type="tns:ArrayOfReserva" />
</xs:schema>