Servicios/ServiciosHoteles/Service References/ServicioCuenta/Cuentas2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:49486/Cuentas.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ServiciosHoteles.Dominio" />
  <xs:element name="CrearCuenta">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ServiciosHoteles.Dominio" minOccurs="0" name="cuentaNueva" nillable="true" type="q1:Cuenta" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CrearCuentaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ServiciosHoteles.Dominio" minOccurs="0" name="CrearCuentaResult" nillable="true" type="q2:Cuenta" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModificarCuenta">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ServiciosHoteles.Dominio" minOccurs="0" name="cuentaModificada" nillable="true" type="q3:Cuenta" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModificarCuentaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/ServiciosHoteles.Dominio" minOccurs="0" name="ModificarCuentaResult" nillable="true" type="q4:Cuenta" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarCuenta">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/ServiciosHoteles.Dominio" minOccurs="0" name="cuentaEliminar" nillable="true" type="q5:Cuenta" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarCuentaResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerCuenta">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigo" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerCuentaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/ServiciosHoteles.Dominio" minOccurs="0" name="ObtenerCuentaResult" nillable="true" type="q6:Cuenta" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarCuentas">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarCuentasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/ServiciosHoteles.Dominio" minOccurs="0" name="ListarCuentasResult" nillable="true" type="q7:ArrayOfCuenta" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarCuentasPorReserva">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idReserva" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarCuentasPorReservaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/ServiciosHoteles.Dominio" minOccurs="0" name="ListarCuentasPorReservaResult" nillable="true" type="q8:ArrayOfCuenta" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>