Servicios/ServiciosHoteles/Service References/ServicioCuenta/Cuentas.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Cuentas" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:49486/Cuentas.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:49486/Cuentas.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:49486/Cuentas.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ServiciosHoteles.Dominio" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICuentas_CrearCuenta_InputMessage">
    <wsdl:part name="parameters" element="tns:CrearCuenta" />
  </wsdl:message>
  <wsdl:message name="ICuentas_CrearCuenta_OutputMessage">
    <wsdl:part name="parameters" element="tns:CrearCuentaResponse" />
  </wsdl:message>
  <wsdl:message name="ICuentas_ModificarCuenta_InputMessage">
    <wsdl:part name="parameters" element="tns:ModificarCuenta" />
  </wsdl:message>
  <wsdl:message name="ICuentas_ModificarCuenta_OutputMessage">
    <wsdl:part name="parameters" element="tns:ModificarCuentaResponse" />
  </wsdl:message>
  <wsdl:message name="ICuentas_EliminarCuenta_InputMessage">
    <wsdl:part name="parameters" element="tns:EliminarCuenta" />
  </wsdl:message>
  <wsdl:message name="ICuentas_EliminarCuenta_OutputMessage">
    <wsdl:part name="parameters" element="tns:EliminarCuentaResponse" />
  </wsdl:message>
  <wsdl:message name="ICuentas_ObtenerCuenta_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerCuenta" />
  </wsdl:message>
  <wsdl:message name="ICuentas_ObtenerCuenta_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerCuentaResponse" />
  </wsdl:message>
  <wsdl:message name="ICuentas_ListarCuentas_InputMessage">
    <wsdl:part name="parameters" element="tns:ListarCuentas" />
  </wsdl:message>
  <wsdl:message name="ICuentas_ListarCuentas_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarCuentasResponse" />
  </wsdl:message>
  <wsdl:portType name="ICuentas">
    <wsdl:operation name="CrearCuenta">
      <wsdl:input wsaw:Action="http://tempuri.org/ICuentas/CrearCuenta" message="tns:ICuentas_CrearCuenta_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICuentas/CrearCuentaResponse" message="tns:ICuentas_CrearCuenta_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ModificarCuenta">
      <wsdl:input wsaw:Action="http://tempuri.org/ICuentas/ModificarCuenta" message="tns:ICuentas_ModificarCuenta_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICuentas/ModificarCuentaResponse" message="tns:ICuentas_ModificarCuenta_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EliminarCuenta">
      <wsdl:input wsaw:Action="http://tempuri.org/ICuentas/EliminarCuenta" message="tns:ICuentas_EliminarCuenta_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICuentas/EliminarCuentaResponse" message="tns:ICuentas_EliminarCuenta_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerCuenta">
      <wsdl:input wsaw:Action="http://tempuri.org/ICuentas/ObtenerCuenta" message="tns:ICuentas_ObtenerCuenta_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICuentas/ObtenerCuentaResponse" message="tns:ICuentas_ObtenerCuenta_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListarCuentas">
      <wsdl:input wsaw:Action="http://tempuri.org/ICuentas/ListarCuentas" message="tns:ICuentas_ListarCuentas_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICuentas/ListarCuentasResponse" message="tns:ICuentas_ListarCuentas_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ICuentas" type="tns:ICuentas">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CrearCuenta">
      <soap:operation soapAction="http://tempuri.org/ICuentas/CrearCuenta" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ModificarCuenta">
      <soap:operation soapAction="http://tempuri.org/ICuentas/ModificarCuenta" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EliminarCuenta">
      <soap:operation soapAction="http://tempuri.org/ICuentas/EliminarCuenta" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerCuenta">
      <soap:operation soapAction="http://tempuri.org/ICuentas/ObtenerCuenta" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarCuentas">
      <soap:operation soapAction="http://tempuri.org/ICuentas/ListarCuentas" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Cuentas">
    <wsdl:port name="BasicHttpBinding_ICuentas" binding="tns:BasicHttpBinding_ICuentas">
      <soap:address location="http://localhost:49486/Cuentas.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>